<%- include('partials/header', {mode: 'admin'});  %>
    <div class='content-view'>
        <span class='head-text level0'>Dashboard</span>
    </div>
    <div class="content-view dashview">
        <div class="head-group big">
            <span class="head-text level1" >Analysis Report&emsp;</span>
            <button class="btn-white btn-sm" id="showAnalyRe" data-popup='analysis-popup' style="border-radius: 0 !important;" type="button" id="Analysis">Show</button>
            <span class="head-text level2">Find All Statistical Informations</span>
        </div>
    </div>
    <div class="content-view dashview">
        <div class="head-group big">
            <span class="head-text level1" style="vertical-align: sub;">Plan&emsp;</span>
            <button class="btn-white btn-sm" id="createPlan" style="display: inline-block;">Create</button>
            <span class="head-text level2" >Manage Theatre Plan And Seatclass Assignment</span>
        </div>
        <div class="row justify-content-start align-items-center">
            <div class="col-4" style='padding-left: 0;'>
                    <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Select By</div>
                    <select class="form-control text-white" id="SelectPlanOrTheatre" style='margin-bottom: 10px;font-size: .8rem;  height: 30px!important;' >
                        <option class="form-control" value="Plan">Plan</option>
                        <option class="form-control" value="Theatre">Theatre</option>
                    </select>
                <ul class="open-list mb-0" id="listPlanTable" style="overflow: auto; height: 160px;"></ul>
            </div>
            <div class="col-8">
                <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Plan Information</br><i style='font-weight:500;font-size: .7rem;opacity:.75;'>(Select Plan or Theatre to See This Section)</i></div>
                <div class="open-list" style="padding: 0;font-size:.75rem;min-height:160px;">
                    <div class="container-fluid" id="detailPlan" style="display: none;">
                        <div class="pt-2">Name : <span id="viewPlanName"></span></div>
                        <div id="viewPlanWidth">Width : </div>
                        <div id="viewPlanHeight">Height : </div>
                        <div class="row pb-2">
                            <div class="mx-auto mt-3 text-center">
                                <button type="button" class="btn-white btn-sm mr-5" style="display: inline-block;" id="callEditPlanForm">Edit</button>
                                <button type="button" data-popup="delete-plan-popup" class="btn-white btn-sm" style="display: inline-block;" id="callDeletePlanForm">Delete</button>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div id="planForm" class="content-form" style="display: none;">
        <%- include partials/plan %>
    </div>
    
    <div class='content-view dashview'>
        <div class="row" style='width:100%;margin:0;'>
            <div class="head-group big" style='width:100%;'>
                <span class="head-text level1">Movie&emsp;</span>
                <button class="btn-white btn-sm" id="createMovie">Create</button> 
                <span class="head-text level2">Manage Movie Info. & Scheduling</span>
            </div>

            <div class="col-4" style='padding-left: 0;'>
                <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Select Schedule By Status</div>
                <select id='mode-select-sched' class="form-control text-white" id="SelectMovieShow" style='margin-bottom: 10px;font-size: .8rem;    height: 30px!important;'>
                    <option class="form-control"id="Now"value="Now">Now</option>
                    <option class="form-control" id="History"value="History">History</option>
                </select>
                <div class="head-text level1" style='font-size: .85rem;font-weight: 900;'>Schedule(s)</div>
                <ul class='open-list' id='Movie' style="overflow: auto; height: 160px;" ></ul>
            </div>
            <div class="col-6">
                <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Movie Info. </br><i style='font-weight:500;font-size: .7rem;opacity:.75;'>(Select Schedule to See This Section)</i></div>
                <ul class='open-list' id='MovieInfo' style="overflow: auto; height: 160px;" ></ul>
                <div class="changeMovie">
                    <button class="btn-white btn-sm" id="EditMovie">Edit</button>
                    <button class="btn-white btn-sm" id="DeleteMovie">Delete</button>
                </div>
            </div>
            <div class="col-12" style='padding: 0;'>
                <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Movie Schedule </br><i style='font-weight:500;font-size: .7rem;opacity:.75;'>(Select Schedule to See This Section)</i></div>
                <div id='m-schedule-table' style='border:1px solid white;'>    
                    <table class="table sched-table" style="border:none;word-wrap:break-word;table-layout: fixed;">
                        <thead>
                            <tr style="background: white; color:black; font-weight:700; font-size: .7rem;">
                                <th class='table-center' style='position: sticky;top: 0;background: white'>Schedule</th>
                                <th class='table-center' style='position: sticky;top: 0;background: white'>Movie No.</th>
                                <th class='table-center' style='position: sticky;top: 0;background: white'>Theatre</th>
                                <th style='position: sticky;top: 0;background: white'>Date</th>
                                <th style='position: sticky;top: 0;background: white'>Time</th>
                                <th class='table-center' style='position: sticky;top: 0;background: white'>Audio</th>
                                <th class='table-center' style='position: sticky;top: 0;background: white'>3D / 2D</th>
                                <th class='table-center' style='position: sticky;top: 0;background: white'>Subtitle</th>
                            </tr>
                        </thead>
                        <tbody id='Schedule'>
                            <tr>
                                <td class='table-placeholder' colspan="8">No information yet, select schedule above to see more</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="AddSch">
                    <button class="btn-white btn-sm" id="AddSchedule" style='margin-top: 8px;'>Add</button>
                </div>
                <div class="DeleteSch">
                    <button class="btn-white btn-sm" id="DeleteSchedule" style='margin-top: 8px;'>Delete</button>
                </div>
            </div>
            
        </div>              
    </div>

    <div class="content-view dashview">
        <div class="head-group big" style='width:100%;'>
            <span class="head-text level1">Coupon&emsp;</span>
            <button class="btn-white btn-sm" id="addCoupon">Add</button> 
            <span class="head-text level2">Manage Coupon Info</span>
        </div>

        <div class="row justify-content-start align-items-center">
            
                <div class="col-4">
                    <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Coupon List</div>
                    <ul class="open-list mb-6" id="listCouponTable" style="overflow: auto; height: 200px;"></ul>
                    <div class="col">
                        <div class="mx-auto mt-3 text-left" id="fromBottom" style="justify-content: center;display: flex;flex-direction: column;display: none;">
                            <button type="button" class="btn-white btn-sm" style="display: inline-block;" id="callEditCouponForm">Edit</button>
                            <button type="button" data-popup="delete-coupon-popup" class="btn-white btn-sm" style="display: inline-block;" id="callDeleteCouponForm">Delete</button>  
                        </div>
                    </div>
                </div>
                
                <div class="col-8">
                        <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Coupon Detail</br><i style='font-weight:500;font-size: .7rem;opacity:.75;'>(Select Coupon to See This Section)</i></div>

                        <ul class='open-list mb-0' style="padding:2px; overflow: auto;min-height: 160px;">
                        <div class="container-fluid" id="detailCoupon" style="display: none;">
                            <div class="pt-2"><strong>Coupon Code : </strong><span id="viewCouponCode"></span></div>
                            <div id="viewDiscountRate"><strong>Discount Rate : </strong></div>
                            <div id="viewMaxDiscount"><strong>Max Discount : </strong></div>
                            <div id="viewMinAge"><strong>Min Age : </strong></div>
                            <div id="viewMaxAge"><strong>Max Age : </strong></div>
                            <div id="viewMinSeat"><strong>Min Seat : </strong></div>
                            <div id="viewMinSpend"><strong>Min Spend : </strong></div>
                            <div id="viewExpireDate"><strong>Expire Date : </strong></div>
                            <div id="viewNumberAvialable"><strong>Nuber Avialable : </strong></div>
                            <div class="col">
                                    <div class="mx-auto mt-3 text-center">
                                        <button type="button" data-popup="movie-coupon-popup" class="btn-white btn-sm" style="display: inline-block;" id="showMovieCoupon">Movie</button>
                                        <button type="button" data-popup="branch-coupon-popup" class="btn-white btn-sm" style="display: inline-block;" id="showBranchCoupon">Branch</button>
                                    </div>
                                </div>
                        </div>
                        </ul>
                        
                        
                    
                </div>
            
        </div>
        
    </div>
    <div class="content-view dashview">

        <div class="head-group big" style='width:100%;'>
            <span class="head-text level1">Staff Shift&emsp;</span>
            <button class="btn-white btn-sm" id="createstaffshift">Create</button> 
            <span class="head-text level2">Manage Staff Info. & Shift</span>
        </div>
        <div class="row justify-content-start align-items-center">
            <div class="col-4">
                <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Staff</div>
                <ul class="open-list container-fluid border border-light" id="listStaff" style="overflow: auto;padding: 2px 1px  !important;"></ul>
            </div>
            <div class="col-8">
                <div class="head-text level1" style='margin-bottom:5px;font-size: .85rem;font-weight: 900;'>Staff Shift</br><i style='font-weight:500;font-size: .7rem;opacity:.75;'>(Select Staff to See This Section)</i></div>
                <div id='shiftstaffall' style='border:1px solid white;'>  
                    <table class="table sched-table" style="word-wrap:break-word;table-layout: fixed; margin-bottom: 0px">
                        <thead>
                            <tr style="background: white; color:black; font-weight:700; font-size: .7rem;">
                                <th class='table-center' style='position: sticky;top: 0;background: white'>Date</th>
                                <th class='table-center' style='position: sticky;top: 0;background: white'>Start Time</th>
                                <th class='table-center' style='position: sticky;top: 0;background: white'>End Time</th>
                            </tr>
                        </thead>
                        <tbody id='detailstaff'>
                            
                        </tbody>
                    </table>
                </div>
                <div class="row pb-2">
                    <div class="mx-auto mt-3 text-center">
                        <button type="button" class="btn-white mr-5" style="display: inline-block;" id="editshift">Edit</button>
                        <button type="button" class="btn-white" style="display: inline-block;" id="deleteshift">Delete</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div id="staffForm" class="content-form" style="display: none;">
        <%- include partials/staff %>
    </div>    

    <div id="movieAndSchduleForm" class="content-form" style="display: none;">
            <%- include partials/movie-schedule %>
    </div>

    <div id="EditMovieForm" class="content-form" style="display: none;"  >
            <%- include partials/edit-movie %>
    </div>

    <div id="EditScheduleForm" class="content-form" style="display: none;" >
                <%- include partials/add-schedule %>
    </div>

    <div id="couponForm" class="content-form" style="display: none;">
        <%- include partials/coupon %>
    </div>
    <script src="scripts/movieoption.js"></script>

        
<%- include partials/foot %> 